BraveSoftware
cef_user_data
chromium
Code
Code - OSS
CurseForge
Electron
Ferdium
glib-2.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
Microsoft
Microsoft Teams - Preview
ml4w
ModrinthApp
nautilus
Notion
Pinta
Postman
qBittorrent
r2modmanPlus-local
Softdeluxe
spotify
teams
unity3d
unityhub
usage_history.json
vlc
vesktop
